.preview-section {
  display: flex;
  flex-direction: column;
}

.preview-basic {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
    align-items: center;
}

.basic-info-preview{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.full-name {
    font-weight: 1000;
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 10px;
}

.contact-info p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contact-info p :first-child {
    margin-right: 15px;
}

.preview-section > :not(:first-child) {
  margin-top: 15px;
  text-align: left;
}


.line-start {
  font-weight: bold;
}

.category {
  font-size: .9rem;
}

.experiences-container,
.proj-container {
  font-size: .9rem;
}

.job-title, 
.proj-title {
  font-weight: bold;
}
.experience-headline,
.proj-headline {
  display: flex;
  justify-content: space-between;
}

.exp-container ul,
.proj-container ul {
  position: relative;
  right: 20px;
  top:-10px;
}

.school-preview {
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
}

.school-line :first-child {
  font-weight: bold;
}